<html>
  <body>
    <script type="text/javascript">
      $(document).ready(function(){
          var socket = io.connect('http://localhost:8000')
          socket.on('connect', function(){
              socket.send("User connected");
          });
        socket.on('message', function(msg){
            $("messages").append('<li>'+msg+'</li>');
        })
        $('#sendbutton').on('click', function(){
            socket.send($('myMessage').val());


        });
      });

    </script>
    <ul id="messages">
        { % for i in messages %}
          <li>{{msg}}</li>
        { % endfor %}
    </ul>
    <input type="text" id="myMessage">
    <button id="sendbutton">Send</button>
  </body>
</html>
