<!Doctype html>
<html lang='en'>

<head>
	<title>{{topic}}</title>
</head>

<body>
	{% for i in data %}
	<form action={{i}} method="POST">
		<!--<input type = "text" name=-->
		<button type="submit">{{i}}</button>
	</form>
	{% endfor %}
</body>
</html>